platform:
  - x86

environment:
  global:
    FORK_USER: ocaml
    FORK_BRANCH: master
    CYG_ROOT: C:\cygwin64
    PINS: "git.dev:. git-http.dev:. git-unix.dev:. git-mirage.dev:. encore.dev:https://github.com/dinosaure/encore.git digestif.dev:https://github.com/digestif/digestif.git decompress.dev:https://github.com/mirage/decompress.git"
    ALCOTEST_SHOW_ERRORS: true
  matrix:
  - PACKAGE: "git-mirage.dev"
  - PACKAGE: "git-unix.dev"

install:
  - ps: iex ((new-object net.webclient).DownloadString("https://raw.githubusercontent.com/$env:FORK_USER/ocaml-ci-scripts/$env:FORK_BRANCH/appveyor-install.ps1"))

build_script:
  - call %CYG_ROOT%\bin\bash.exe -l %APPVEYOR_BUILD_FOLDER%\appveyor-opam.sh
